@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    
}

th,tr{
    border-bottom: 2px solid red;
   
    
}
table{
    background-image: url(/assets/fond.png);
    background-size: contain;
    
}
.container{
    padding-left: 0;
    padding-right: 0;
}
img{
    border: 5px solid black
}